<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Palacios Watch Shop - Contacto</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../css/estructura.css">
        <link rel="stylesheet" href="../css/contacto.css">

        <!-- Favicon -->
        <link rel="icon" href="../images/logo.ico" type="image/x-icon">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <header>
            <!-- Logo -->
            <div class="logo">
                <a href="../index.html">
                    <img src="../images/light_logo.png" alt="Logo de Mi Sitio Web" width="150">
                </a>
            </div>
            
            <!-- Navegación principal -->
             
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="galeria.html">Galería</a></li>
                    <li><a href="presupuesto.html">Presupuesto</a></li>
                    <li><a href="contacto.html" class="menu-activo">Contacto</a></li>
                </ul>
            </nav>
        </header>



        <main>
            <div class="contact-header">
                <h1>Contacto</h1>
            </div>

            <div class="contact-container">
                <!-- Mapa -->
                <div class="mapa">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2980.863378337928!2d-0.9138062877963126!3d41.65869377114681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd596b49be33de8f%3A0x28a5a027ddc927aa!2sZaragoza-delicias!5e0!3m2!1ses!2ses!4v1730979859321!5m2!1ses!2ses" 
                        width="400" 
                        height="300">
                    </iframe>
                </div>

                <!-- Datos de contacto -->
                <div class="contact-info">
                    <h2>Datos de contacto</h2>
                    <p><strong>Teléfono:</strong> 987 654 321</p>
                    <p><strong>Email:</strong> contacto@relojespalacios.com</p>
                    <p><strong>Dirección:</strong> Estacion Delicias, Zaragoza, España</p>
                </div>
            </div>
        </main>

        <footer class="footer">
            <ul class="social-icon">

              <li class="icon-elem">
                <a href="https://www.youtube.com/user/LOTUSwatches/featured" class="icon">
                  <ion-icon name="logo-youtube"></ion-icon>
                </a>
              </li>

              <li class="icon-elem">
                <a href="https://www.instagram.com/lotus.watches/" class="icon">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li> 

              <li class="icon-elem">
                <a href="https://www.facebook.com/LotusWatches" class="icon" target="_blank">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
            </ul>
            
            <p style="font-size: 0.8em; text-align: center; margin-top: 20px;">
                &copy; 2024 Palacios Watch. Todos los derechos reservados. <br>
                Aviso legal
            </p>

        </footer>
    </body>
</html>